<h1>Homepage</h1>

<% if false %>
<p>
    <%= article_all.title %>
</p>

<p>
    <%= article_all.text %>
</p>

<p>
    <%= image_tag(article_all.image.url) %>
</p>

<% end %>

<% article_all.each do |article| %>
    <p>
        <%= article.title  %>
    </p>

    <p>
        <%= article.text  %>
    </p>

    <p>
        <%= image_tag article.image.url(:medium)  %>
    </p>
<% end %>

    <div class="category_name">
<% category_list.each do |category| %>
        <div class="category-item">
            <%= category.name %>
            <% recent_article.each do |recent| %>
                <%= recent.title %>
                <%= image_tag recent.image.url(:thumb) %>
            <% end %>
        </div>
<% end %>
    </div>

