<h1>Homepage</h1>

<% if false %>
<p>
    <%= article_all.title %>
</p>

<p>
    <%= article_all.text %>
</p>

<p>
    <%= image_tag(article_all.image.url) %>
</p>

<% end %>

<% article_all.each do |article| %>
    <p>
        <%= article.title  %>
    </p>

    <p>
        <%= article.text  %>
    </p>

    <p>
        <%= article.image.url  %>
        <%= image_tag article.image.url(:medium)  %>
    </p>
<% end %>

    <div class="category_name">
<% for category in category_list %>
        <div class="category-item">
            <%= category.name %> <br>
            <%= category.title %> <br>
            <%= category.text %> <br>
            <%=  image_tag category.image.url(:medium) %> <br>
        </div>
<% end %>
    </div>

