<% provide(:title, "Homepage") %>

    <div class="article-home">
        <% article_all.each do |article| %>
            <div class="article-home-card">
                <div class="article-img">
                    <div class="article-text">
                        <h2><%= article.title %></h2>
                        <p><%= article.text  %></p>
                    </div>
                    <%= image_tag article.image.url(:medium)  %>
                </div>
        <% end %>
            </div>

        <div class="user-info">
            <h3><%= current_user.name.titleize if logged_in? %></h3>
        </div>
    </div>

    <div class="category_name">
        <% for category in category_list %>
                <div class="category-item">
                    <div class="category-name">
                        <h3><%= category.name %><h3>
                    </div>
                    <div class="category-title">
                        <h4><%= category.title %><h4>
                    </div>
                    <%=  image_tag category.image.url(:medium) %>
                </div>
        <% end %>
    </div>


