<p id="notice"><%= notice %></p>

<div style= 'text-align: right;'>
  <%= link_to "close", root_path, class: 'btn btn-danger' %>
</div>
<h2 style="text-align:center;">Search results</h2>

<table class="table  table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Category</th>
      <th>Preview</th>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= category_name(article.id) %></td>
        <td><%= image_tag article.image.url(:thumb) if article.image.exists? %></td>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

