<p id="notice"><%= notice %></p>

<p>
  <%=  @article.image %>
  <%= image_tag @article.image.url(:medium) %>
</p>
<p>
  <strong>Author:</strong>
  <%= @article.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> |
<td><%= link_to 'Vote', vote_path, data: { confirm: 'Are you sure?' } %></td>
