<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= root_path %>">Recipe Book</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="<%= category_path(1) %>">American <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="<%= category_path(2) %>">Caribbean <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="<%= category_path(3) %>">Chinese <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="<%= category_path(4) %>">French <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="<%= category_path(5) %>">Italian <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="<%= category_path(6) %>">Mexican <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <%if logged_in?%>
            <%= link_to "Write an article", new_article_path %>
            <%= link_to "Logout", logout_path, method: :delete %>
        <%else%>
            <%= link_to "Login", login_path %>
            <%= link_to "Register", new_user_path %>
        <%end%>
    </div>
</nav>