<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-x-2">
        <a class="brand-logo" href="<%= root_path %>"><%= image_tag "logo.png" %></a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= active_class(root_path) %>">
                <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item <%= active_class(category_path(1)) %>">
                <a class="nav-link" href="<%= category_path(1) %>">American <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item <%= active_class(category_path(2)) %>">
                <a class="nav-link" href="<%= category_path(2) %>">Caribbean <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item <%= active_class(category_path(3)) %>">
                <a class="nav-link" href="<%= category_path(3) %>">Chinese <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item <%= active_class(category_path(4)) %>">
                <a class="nav-link" href="<%= category_path(4) %>">French <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item <%= active_class(category_path(5)) %>">
                <a class="nav-link" href="<%= category_path(5) %>">Italian <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item <%= active_class(category_path(6)) %>">
                <a class="nav-link" href="<%= category_path(6) %>">Mexican <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-8 col-lg-8 col-xl-4" style="display:flex;">

        <div>
            <%if logged_in?%>
            <%= link_to "Write an article", new_article_path %>
            <%= link_to "Logout", logout_path, method: :delete %>
            <%else%>
            <%= link_to "Login", login_path %>
            <%= link_to "Register", new_user_path %>
            <%end%>
        </div>

        <div>
            <%= form_tag articles_path, method: "get" do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
            <% end %>
        </div>
    </div>
</nav>